@model WeatherDashNine.Models.CityModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "City";
}

<div class="container">
    <div class="container">
        @if (Model != null)
        {
            <h1 class="display-4">5 Day Weather Forecast for @Model.city.name</h1>
            <h2 class="display-8">   For Current Hour</h2>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>Date</th>
                        <th>Temp(F°)</th>
                        <th>Low(F°)</th>
                        <th>High(F°)</th>
                        <th>Feels Like(F°)</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.list.Count; i += 8)
                    {
                        var forecast = Model.list[i];
                        <tr>
                            <td>@(TimeUtils.UnixTimeStampToDateTime(forecast.dt).ToShortDateString()), 
                                @(TimeUtils.UnixTimeStampToDateTime(forecast.dt).ToShortTimeString())
                            </td>
                            
                            @*<td>@(TimeUtils.UnixTimeStampToDateTime(forecast.dt).ToLocalTime()</td> *@

                            <td>@Math.Round(@forecast.main.temp)</td>
                            <td>@Math.Round(@forecast.main.temp_min)</td>
                            <td>@Math.Round(@forecast.main.temp_max)</td>
                            <td>@Math.Round(@forecast.main.feels_like)</td>
                            <td style="text-align: center;">
                                <div style="
                                    background-color: #dee2e6;   
                                    border-radius: 5px;
                                    display: inline-block;">
                                    <img src="https://www.openweathermap.org/img/wn/@(forecast.weather[0].icon).png" style="width:32px" />
                                </div>  
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <div class="alert alert-danger" role="alert">
                <strong>Sorry!! Invalid Entry...</strong>
            </div>       
        }
    </div>

    <div class="container">
        <div class="form-group col-md-offset-3 col-md-5">
            <form method="get">
                <button asp-controller="Weather" asp-action="SearchCity" class="btn btn-success">Return</button>
            </form>
        </div>
    </div>
</div>
