@model WeatherDashNine.Models.CityModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "City";
}

<div class="container">
    <div class="container">
        @if (Model != null)
        {
            <h1 class="display-5">5 Day Weather Forecast for @Model.Name</h1>
            <h2 class="display-9">For Current Hour</h2>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>Date</th>
                        <th>Temp(F°)</th>
                        <th>Low(F°)</th>
                        <th>High(F°)</th>
                        <th>Feels Like(F°)</th>
                        <th>Humidity(F°)</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.List.Count; i += 8)
                    {
                        var forecast = Model.List[i];
                        <tr>
                            <td>@(TimeUtils.UnixTimeStampToDateTime(forecast.Dt).ToShortDateString()), 
                                @(TimeUtils.UnixTimeStampToDateTime(forecast.Dt).ToShortTimeString())
                            </td>
                            <td>@Math.Round(@forecast.Main.Temp)</td>
                            <td>@Math.Round(@forecast.Main.Temp_Min)</td>
                            <td>@Math.Round(@forecast.Main.Temp_Max)</td>
                            <td>@Math.Round(@forecast.Main.Feels_Like)</td>
                            <td>@Math.Round(@forecast.Main.Humidity)</td>
                            <td style="text-align: center;">
                                <div style="
                                    background-color: #dee2e6;   
                                    border-radius: 5px;
                                    display: inline-block;">
                                    <img src="https://www.openweathermap.org/img/wn/@(forecast.Weather[0].Icon).png" style="width:32px" />
                                </div>  
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <div class="alert alert-danger" role="alert">
                <strong>Sorry!! Invalid Entry...</strong>
            </div>       
        }
    </div>

    <div class="container">
        <div class="form-group col-md-offset-3 col-md-5">
            <form method="get">
                <button asp-controller="Weather" asp-action="SearchCity" class="btn btn-success">Return</button>
            </form>
        </div>
    </div>
</div>
